<%= content_for :title, "Calendar" %>
<%= content_for :calendar_events_url, feed_events_path(format: :json) %>
<%= content_for :calendar_new_event_url, new_event_path %>

<div data-calendar-target="container" id="calendar-container"></div>